{{!< default}}


        <div class="container clearfix">
          <main role="main" class="content">
              {{#foreach posts}}  
              <article class="{{post_class}} post">
                <h2><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
                <footer class="post-info">Publié le <span class="post-meta"><time datetime="{{date published_at format="DD-MM-YYYY"}}">{{date published_at format="Do MMMM YYYY"}}</time> {{tags separator=", " prefix="Tags "}}</span></footer>
                
                <p>{{excerpt characters="600"}}&hellip;</p>
                
                <a href="{{url}}" title="{{title}}">Plus &raquo;</a>
              </article>
              {{/foreach}}

              {{pagination}}
             
          </main>
          


          <aside class="author">
            
            <img class="profile-image" src="{{asset "img/profile-image.jpg"}}" alt="" />
            <p class="name">by <strong>Romain Nicault</strong></p>
            <p class="address">Paris, France</p>
            <p class="link"><a href="http://romain.nicault.fr" title="Romain Nicault">romain.nicault.fr</a></p>

            <ul class="social">
              <li><a class="icon-twitter" href="http://twitter.com/RomainNicault" title="Twitter"></a></li>
              <li><a class="icon-linkedin" href="http://www.linkedin.com/in/rnicault" title="Linkedin"></a></li>
            </ul>

          </aside>
        </div>